<div class="row">
  <div class="col inside-vh scroll-y">
    <p class="h2 text-center text-uppercase text-muted pt-3">Expand your connection to the Maximum...</p>
    <div class="mx-4 my-5">
      <%= there_is_no_users? %>
      <div class="d-flex flex-wrap">
        <% @users.each do |user| %>
          <div class="f-width d-flex flex-column justify-content-between align-items-center p-4 m-2 bg-white">
            <div class='d-flex flex-column justify-content-center align-items-center'>
              <%= link_to user_path(user), class: 'mb-2' do %>
                <%= get_profile_image(user) %>
              <% end %>
              <%= link_to user_path(user), class: 'text-decoration-none text-dark' do %>
                <div class="font-weight-bold text-dark text-uppercase text-center"><%= user.fullname %></div>
              <% end %>
              <div class="text-muted font-small">@<%= user.username %></div>
            </div>
            <div>
              <%= render_add_or_remove_btn(user) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'side_bar' %>
</div>