<div class="row">
  <div class="col d-flex justify-content-end inside-vh scroll-y p-3 page-wrapper">
    <div class="user-edit-form form">
      <div class="display-4 font-weight-bold pb-3">Sign up</div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <%= f.text_field :fullname, class:'form-control py-2', autofocus: true, placeholder: 'Full Name',autocomplete: "fullname" %>

        <div class="form-row py-2">
          <div class="col">
            <%= f.text_field :username, class: 'form-control', placeholder: 'Username', autocomplete: "username" %>
          </div>
          <div class="col">
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email', autocomplete: "email" %>
          </div>
        </div>

        <div class="form-row py-2">
          <div class="col">
            <div class="custom-file">
              <%= f.file_field :avatar, class:'custom-file-input', id: 'customFile' %>
              <label class="custom-file-label" for="customFile">Avatar</label>
            </div>
          </div>
          <div class="col">
            <div class="custom-file">
              <%= f.file_field :cover_picture, class:'custom-file-input', id: 'customFile2' %>
              <label class="custom-file-label" for="customFile2">Cover picture</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password-field" class="font-weight-bold">Password</label>
          <%= f.password_field :password, class: 'form-control', id: 'password-field', autocomplete: "new-password" %>
          <small id="passwordHelper" class="form-text text-muted">
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </small>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: 'font-weight-bold', for: 'confirmation' %>
          <%= f.password_field :password_confirmation, class: 'form-control', id: 'confirmation', autocomplete: "new-password" %>
        </div>

        <%= f.submit "Sign Up", class: 'btn btn-primary' %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
