<div class="row">
  <div class="col inside-vh scroll-y p-0">
    <div class="w-100">
      <% if @user.cover_picture.attached? %>
        <%= image_tag @user.cover_picture, class: 'cover-image' %>
      <% else %>
        <%= image_tag 'https://lh3.googleusercontent.com/proxy/4un-H63iTyTxn4ksBO1eIFlPs9idVtYd35VIuh-8jsaAC9VZ2oBgVlsYB5DoGUtLwJZmSEwgJVXQNSYsktBQHIUyo8vkHLYO6hhDDYuN60PKSPohLBLnLMjgdvdOgG6nrhMkvQtDRLHkcnQbZd8iWnjr0s-OvDd5CHlYshC-_so9z3ciG2dxrMq28LIxSe79vhI', class: 'cover-image' %>
      <% end %>
    </div>
    <div class="w-100 d-flex justify-content-start align_items-center bg-white">
      <div id="posts-tab" class="menu-tab text-uppercase px-4 py-3 font-weight-bold border-base">
        posts
      </div>
      <div id="following-tab" class="menu-tab text-uppercase px-4 py-3 font-weight-bold text-muted">
        Following
      </div>
      <div id="followers-tab" class="menu-tab text-uppercase px-4 py-3 font-weight-bold text-muted">
        Followers
      </div>
    </div>
    <div id="posts-content" class="d-show mx-4 my-5">
      <% if @user == current_user %>
        <div class="post-form py-3 px-4 mb-5 bg-white">
          <div class="p-2">
            <span class="font-weight-bold text-uppercase text-muted">Share something new</span>
          </div>
          <%= simple_form_for @post do |f| %>
            <div class="form-group w-100">
              <%= f.input_field :text, :as => :string, placeholder: 'Share to help your colleagues...', class: 'w-100 form-control' %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="post-container bg-white">
        <div class="text-uppercase font-weight-bold text-base px-4 py-3">
          All posts
        </div>
        <hr class="p-0 my-0 mx-4" />
        <div class="py-3 px-4">
          <% if @user.posts.empty? %>
            <div class="text-capitalize text-muted text-center">
              this profile has no posts
            </div>
          <% end %>
          <% @user.posts.each do |post| %>
            <div id='post-<%= post.id %>' class="d-flex w-100 py-3">
              <%= render partial: 'user_image', locals: { user: post.author } %>
              <div class="post-info w-100 pl-2">
                <div class="d-flex w-100 justify-content-between">
                  <%= link_to user_path(post.author), class: 'text-decoration-none text-dark' do %>
                    <div class="text-capitalize font-weight-bold"><%= post.author.fullname %></div>
                  <% end %>
                  <div class="small-font text-muted"><%= time_ago_in_words(post.created_at) %></div>
                </div>
                <div class="text-muted">
                  <%= post.text %>
                </div>
                <div class="w-100 d-flex justify-content-end">
                  <%= link_to post_react_path(post), method: :post, class: 'px-3 text-base text-decoration-none' do %>
                    <span class="pr-2"><%= post.likes.count %></span>
                    <% if post.isliked?(current_user) %>
                      <i class="fas fa-heart"></i>
                    <% else %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                  <% if current_user == post.author %>
                    <%= link_to edit_post_path(post), class: 'px-3 text-base' do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to post_path(post), class: 'px-3 text-base', method: :delete, data: {confirm: "Are you sure?"} do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  <% end %>
                </div>
                <%= simple_form_for @comment, url: post_comments_path(post) do |f| %>
                  <div class="d-flex align-items-baseline w-100 py-3">
                    <%= render partial: 'user_image', locals: { user: current_user } %>
                    <div class="form-group w-100 px-3">
                      <%= f.input_field :text, :as => :string, placeholder: 'Leave a comment...', class: 'w-100 form-control' %>
                    </div>
                  </div>
                <% end %>
                <div class="w-100 comments-container">
                  <% post.comments.each do |comment| %>
                    <div class="comment-container w-100">
                      <div class="w-100 d-flex pt-3">
                        <%= render partial: 'user_image', locals: { user: comment.user } %>
                        <div class="w-100 pl-2">
                          <div class="font-weight-bold text-capitalize">
                            <%= link_to user_path(comment.user), class: 'text-dark text-decoration-none' do %>
                              <%= comment.user.fullname %>
                            <% end %>
                          </div>
                          <div class="text-muted">
                            <%= comment.text %>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end pr-4">
                        <% if current_user == comment.user %>
                          <%= link_to post_comment_path(post, comment), class: 'text-decoration-none text-base', method: :delete do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="following-content" class="d-none mx-4 my-5">
      <% if @user.followings.empty? %>
        <div class="text-muted text-center">There Is, No Following</div>
      <% end %>
      <div class="d-flex flex-wrap">
        <% @user.followings.each do |follow| %>
          <div class="f-width d-flex flex-column justify-content-between align-items-center p-4 m-2 bg-white">
            <div class='d-flex flex-column justify-content-center align-items-center'>
              <%= link_to user_path(follow.followed) do %>
                <% if follow.followed.avatar.attached? %>
                  <%= image_tag follow.followed.avatar, class: 'profile-image rounded-circle mb-2' %>
                <% else %>
                  <%= image_tag 'https://addisonavenuemarketing.com/wp-content/uploads/2016/07/facebook-avatar.jpg', class: 'profile-image rounded-circle mb-2' %>
                <% end %>
              <% end %>
              <%= link_to user_path(follow.followed), class: 'text-decoration-none text-dark' do %>
                <div class="font-weight-bold text-dark text-uppercase text-center"><%= follow.followed.fullname %></div>
              <% end %>
              <div class="text-muted font-small">@<%= follow.followed.username %></div>
            </div>
            <div>
              <% unless follow.followed == current_user %>
                <% if current_user.following?(follow.followed) %>
                  <%= link_to following_path(follow.followed), method: :delete, class: 'text-decoration-none' do %>
                    <div class="text-muted border-muted border rounded-circle d-flex justify-content-center align-items-center follow-button">
                      <i class="fas fa-minus"></i>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to followings_path(followed_id: follow.followed), method: :post, class: 'text-decoration-none' do %>
                    <div class="text-muted border-muted border rounded-circle d-flex justify-content-center align-items-center follow-button">
                      <i class="fas fa-plus"></i>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="followers-content" class="d-none mx-4 my-5">
      <% if @user.followers.empty? %>
        <div class="text-muted text-center">There Is, No Followers</div>
      <% end %>
      <div class="d-flex flex-wrap">
        <% @user.followers.each do |follow| %>
          <div class="f-width d-flex flex-column justify-content-between align-items-center p-4 m-2 bg-white">
            <div class='d-flex flex-column justify-content-center align-items-center'>
              <%= link_to user_path(follow.follower) do %>
                <% if follow.follower.avatar.attached? %>
                  <%= image_tag follow.follower.avatar, class: 'profile-image rounded-circle mb-2' %>
                <% else %>
                  <%= image_tag 'https://addisonavenuemarketing.com/wp-content/uploads/2016/07/facebook-avatar.jpg', class: 'profile-image rounded-circle mb-2' %>
                <% end %>
              <% end %>
              <%= link_to user_path(follow.follower), class: 'text-decoration-none text-dark' do %>
                <div class="font-weight-bold text-dark text-uppercase text-center"><%= follow.follower.fullname %></div>
              <% end %>
              <div class="text-muted font-small">@<%= follow.follower.username %></div>
            </div>
            <div>
              <% unless follow.follower == current_user %>
                <% if current_user.following?(follow.follower) %>
                  <%= link_to following_path(follow.follower), method: :delete, class: 'text-decoration-none' do %>
                    <div class="text-muted border-muted border rounded-circle d-flex justify-content-center align-items-center follow-button">
                      <i class="fas fa-minus"></i>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to followings_path(followed_id: follow.follower), method: :post, class: 'text-decoration-none' do %>
                    <div class="text-muted border-muted border rounded-circle d-flex justify-content-center align-items-center follow-button">
                      <i class="fas fa-plus"></i>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'user_info', locals: { user: @user } %>
</div>
