<!DOCTYPE html>
<html>
  <head>
    <title>Academia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css' %>
  </head>

  <body>
    <div id="user-id" data-user-id="<%= current_user.try(:id) %>"></div>
    <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>

    <% if notice || alert %>
      <div class="notification <%= 'alert' if alert %>">
        <%= notice if notice %>
        <%= alert if alert %>
        <div id="close-notification">
          <i class="fas fa-times"></i>
        </div>
      </div>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <% if user_signed_in? %>
          <div class='sidbar-size vh-height bg-second-color'>
            <div class="current-user w-100 d-flex align-items-center">
              <%= link_to user_path(current_user) do %>
                <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar, class: 'user-image' %>
                <% end %>
              <% end %>
              <%= link_to user_path(current_user), class: 'text-decoration-none' do %>
                <div class="small-font text-uppercase font-weight-bold prime-color pl-2">
                  <%= current_user.fullname %>
                </div>
              <% end %>
            </div>
            <div class="d-flex">
              <div class="d-flex justify-content-center flex-column align-items-center w-50 p-1 py-3 border-prime border-top border-right bottom-bottom">
                <span class="text-white"><%= current_user.followings.count %></span>
                <span class="prime-color font-weight-bold small-font">Followings</span>
              </div>
              <div class="d-flex justify-content-center flex-column align-items-center w-50 p-1 py-3 border-prime border-top bottom-bottom">
                <span class="text-white"><%= current_user.followers.count %></span>
                <span class="prime-color font-weight-bold small-font">Followers</span>
              </div>
            </div>
            <ul class="menu-list w-100">
              <li class="menu-item text-uppercase font-weight-bold w-100 <%= current_class?(root_path) %> prime-color">
                <%= link_to root_path, class: 'd-flex  align-items-center w-100 h-100 prime-color' + current_class?(root_path) do %>
                  <i class="fas pr-2 fa-home"></i>Home
                <% end %>
              </li>
              <li class="menu-item text-uppercase font-weight-bold w-100 <%= current_class?(followings_path) %> prime-color">
                <%= link_to followings_path, class: "d-flex align-items-center w-100 h-100 prime-color#{current_class?(followings_path)}" do %>
                  <i class="fas pr-2 fa-hashtag"></i>Connect
                <% end %>
              </li>
              <li class="menu-item text-uppercase font-weight-bold w-100 <%= current_class?(rooms_path) %> prime-color">
                <%= link_to rooms_path, class: "d-flex align-items-center justify-content-between w-100 h-100 prime-color#{current_class?(rooms_path)}" do %>
                  <div class="">
                    <i class="fas pr-2 fa-envelope"></i>Messages
                  </div>
                  <span class="bg-danger text-white px-2 <%= @unread_messages.nil? || @unread_messages.zero? ? 'd-none' : '' %>" id="new-messages"><%= @unread_messages %></span>
                <% end %>
              </li>
              <li class="menu-item text-uppercase font-weight-bold w-100 <%= current_class?(user_path(current_user)) %> prime-color">
                <%= link_to user_path(current_user), class: "d-flex align-items-center w-100 h-100 prime-color#{current_class?(user_path(current_user))}" do %>
                  <i class="fas pr-2 fa-user"></i>Profile
                <% end %>
              </li>
              <li class="menu-item text-uppercase font-weight-bold prime-color w-100">
                <%= link_to destroy_user_session_path, class: 'd-flex  align-items-center w-100 h-100 prime-color', method: :delete do %>
                  <i class="fas pr-2 fa-sign-out-alt"></i>Sign Out
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        <div class="col p-0">
          <nav class="navbar d-flex justify-content-between p-3">
            <div class="">
              <%= link_to root_path, class: 'text-white' do %>
                <i class="fas fa-graduation-cap"></i>
              <% end %>
            </div>
            <div class="">
              <% if user_signed_in? %>
                <%= link_to root_path, class: 'px-3 py-2 text-darkblue text-decoration-none' do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                <%= link_to root_path, class: 'px-3 py-2 text-darkblue text-decoration-none' do %>
                  <i class="fas fa-search"></i>
                <% end %>
                <%= link_to root_path, class: 'px-3 py-2 text-darkblue text-decoration-none' do %>
                  <i class="fas fa-envelope"></i>
                <% end %>
                <%= link_to root_path, class: 'px-3 py-2 text-darkblue text-decoration-none' do %>
                  <i class="fas fa-cog"></i>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, class: 'px-3 py-2 font-weight-bold text-darkblue text-decoration-none' do %>
                  Log In
                <% end %>
                <%= link_to new_user_registration_path, class: 'px-3 py-2 font-weight-bold text-darkblue text-decoration-none' do %>
                  Sign Up
                <% end %>
              <% end %>
            </div>
          </nav>
          <div class="inside-vh container-fluid bg-home">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
